* {
	font-family: 'Open Sans', sans-serif;
}	
header {
	background: url(../img/grupal.jpg) no-repeat center center;
	background-size: cover;
	height: 700px;
}
.boton  {
	border: 1px solid gray;
	border-radius: 5px;
	background-color: #fcb739;
	text-align: center;
	display: inline-block;
	padding: 5px 10px;
	margin-top: 70px;
}
.logo {
	margin-top: 90px;
	width: 100%;
} 
li {
	display: inline-block;
	list-style: none;
	margin-left: 15px;
	margin-top: 70px;
} 
a {
	text-decoration: none;
} 
.foto {
	width: 100%;
	margin-top: 20px;
} 
footer {
	width: 100%;
	margin-top: 20px;
	background: #323230;
	color: white;
	padding: 10px;
} 

